<div class="gm-monitor-flex-container">
    <div class="monitor-header-buttons">
        <button type="button" data-action="open-group-manager">
            <i class="fas fa-users"></i> Manage Chats
        </button>
        <button type="button" data-action="open-settings">
            <i class="fas fa-cog"></i> Settings
        </button>
    </div>

    <div class="message-log">
        {{#each interceptedMessages}}
        <div class="message-item">
            <div class="message-info">
                <img src="{{this.senderImg}}" class="sender-avatar" title="{{this.senderName}}">
                <span class="sender-name">{{this.speakerName}}</span>
                <i class="fas fa-arrow-right monitor-arrow"></i>
                <img src="{{this.recipientImg}}" class="recipient-avatar" title="{{this.recipientName}}">
                <span class="recipient-name">{{this.recipientName}}</span>
                <span class="timestamp">{{this.formattedTime}}</span>
            </div>
            <div class="message-content-preview">
                {{{this.messageContent}}}
            </div>
        </div>
        {{else}}
        <p class="no-messages">No private messages intercepted yet.</p>
        {{/each}}
    </div>
</div>