<div class="runar-chat-flex-container">
    <div class="message-list">
        {{#each messages}}
        <div class="chat-message {{#if (eq this.senderId ../currentUser.id)}}sent{{else}}received{{/if}}">
            <div class="message-header">
                <img src="{{this.senderImg}}" class="sender-avatar" alt="{{this.senderName}}">
                <strong class="sender-name">{{this.senderName}}</strong>
            </div>
            <div class="message-content">
                {{{this.messageContent}}}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="chat-input-area">
        {{#if isGM}}
        <div class="speaker-select">
            <label>Speak As:</label>
            <select name="speaker">
                {{#each speakers}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}
        <textarea name="message" rows="3" placeholder="Type your message..."></textarea>
        <button type="submit" title="Send Message">
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
</div>